[defaults]
host_key_checking = True
retry_files_enabled = False
collections_path = ./.ansible/collections:/opt/ansible/collections
display_args_to_stdout = False

[persistent_connection]
command_timeout = 30
connect_timeout = 30
connect_retry_timeout = 0

[libssh_connection]
host_key_auto_add = False
